* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

main {
  width: 99%;
}
.title {
  font-size: 3rem;
  display: grid;
}
.sidebar {
  background-color: white;
  color: rgb(0,7,61);
  height: 100vh;
  overflow-y: auto;
  box-shadow: 7px -2pz 5px 0px rgb(242, 235,235,0.75);
}